version: "3"

# Pentest workstation with Kali
services:
    kali_master:
        build: ./kali
        image: kali
        hostname: kali_master
        container_name: kali_master
        stdin_open: true
        tty: true
        networks:
            net-main_network:
                ipv4_address: 192.168.0.5
        ports:
            - "127.0.0.1:2222:22/tcp"
        volumes:
            - ./kali/tmp_script:/root/scripts
        command: bash -c "mkdir -p /run/sshd && /usr/sbin/sshd -D -e"
        restart: unless-stopped
                    
# Network configuration
networks:
    net-main_network:
        ipam:
            config:
                - subnet: 192.168.0.0/16